[submodule "src/projects/dog-breed-classification"]
	path = src/projects/dog-breed-classification
	url = https://github.com/Chouffe/udacity-nanodegree-deeplearning-foundation-dog-p2.git
[submodule "src/keras-tutorials"]
	path = src/keras-tutorials
	url = https://github.com/Chouffe/keras-tutorials
